* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.bg {
  position: relative;
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("images/ryan.jpg") no-repeat center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-card {
  width: 320px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(12px);
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #00bcd4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: url(images/ryan.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.navbar a {
  margin-left: 25px;
  text-decoration: none;
  color: #555;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-image: url("images/love.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  border-radius: 25px;
  margin: 20px 40px;
}

.hero-text h1 {
  font-size: 36px;
}

.hero-text button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: orange;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.hero-img {
 display: none;
}

/* POPULAR */
.popular {
  margin: 40px;
}

.card-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
}

.card h3 {
  text-align: center;
  padding: 10px;
}